* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: #edf2ee;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
}

.card {
	border: 1px solid #34495e;
	background-color: #ecf0f1;
	padding: 20px;
	border-radius: 10px;
	width: 500px;
	max-width: 100%;
	text-align: center;
}

h1 {
	font-size: 24px;
	margin-bottom: 20px;
	color: #2c3e50;
}

label {
	font-size: 18px;
	color: #2c3e50;
	display: block;
	margin-bottom: 5px;
}

input[type="email"],
input[type="text"],
textarea {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #34495e;
	border-radius: 5px;
	margin-bottom: 15px;
}

textarea {
	resize: none;
	placeholder: "Write your comment here...";
}

input[type="radio"] {
	appearance: none;
	border: 2px solid #3498db;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	outline: none;
	cursor: pointer;
	position: relative;
	margin-right: 10px;
	background-color: #ecf0f1;
	transition: background-color 0.3s, border-color 0.3s;
}

input[type="radio"]:checked {
	background-color: #3498db;
	border-color: #3498db;
}

input[type="radio"]:checked::after {
	content: "";
	position: absolute;
	top: 4px;
	left: 4px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: white;
}

.rating {
	margin-bottom: 20px;
	text-align: left;
}

.rating label {
	font-size: 18px;
	display: inline-block;
	margin-right: 15px;
}

.rating .options {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	margin-top: 5px;
}

.rating .options label {
	font-size: 16px;
}

button {
	border: 2px solid #2980b9;
	padding: 12px 24px;
	background-color: #3498db;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	font-size: 18px;
}

button:hover {
	background-color: #1abc9c;
}

a {
	text-decoration: none;
	color: #3498db;
	font-size: 18px;
	margin-top: 20px;
	display: inline-block;
}

a:hover {
	color: #1abc9c;
}
