* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(to right, #b2b2ec, #9fa8da);
}

#home-button {
	font-size: 1.2rem;
	margin: 10px;
	padding: 10px 20px;
	border: none;
	background-color: #daf7a6;
	color: #2c3e50;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.3s ease;
	font-weight: 600;
	letter-spacing: 0.5px;
}

#home-button:hover {
	transform: scale(1.05);
	background-color: #c7f09d;
}

#home {
	font-weight: 600;
	font-size: 1rem;
}

a {
	text-decoration: none;
	color: inherit;
}

.card {
	border: 2px solid #34495e;
	background: linear-gradient(to right, #e2e2e2, #c9d6ff);
	margin: 15px;
	padding: 25px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
	transform: scale(1.05);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-group {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	width: 100%;
}

label {
	font-size: 17px;
	font-weight: 600;
	color: #263544;
	margin-right: 10px;
	width: 100px;
	text-align: right;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	flex-grow: 1;
	padding: 12px;
	border: 1px solid #34495e;
	border-radius: 10px;
	background-color: #f7f9fa;
	font-size: 16px;
	color: #2c3e50;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
	border-color: #1abc9c;
	box-shadow: 0 0 8px rgba(26, 188, 156, 0.5);
	outline: none;
}

button[type="submit"] {
	margin-top: 20px;
	width: 100%;
	padding: 12px;
	background-color: #3498db;
	border: 2px solid #2980b9;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	font-size: 16px;
	text-align: center;
}

button[type="submit"]:hover {
	background-color: #1abc9c;
}
